/* mobile device */
@media screen and (max-width: 576px){
    .nav-container{
        
        flex-direction: column;
        
    }
    .nav-menu{
        
        flex-direction: column;
        padding-top: 10px;
        
    }
    .banner-container{
        flex-direction: column;
        flex-direction: column-reverse;
        
    }
    .banner-right{
        width: 100%;
        height: 100%;
    }
    .banner-left{
        width: 100%;
        height: 100%;
    }
}


/* tablet device */

@media screen and (min-width:576px) and (max-width:992px){
    .nav-container{
        
        flex-direction: column;
        
    }
    .nav-menu{
        
        flex-direction: column;
        padding-top: 10px;
        
    }

}
