@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato:ital,wght@0,400;0,700;1,400&family=Poppins:wght@300;400;500;600;700;800;900&family=Work+Sans:wght@400;500;700;800;900&display=swap');

body{
    font-family: 'Work Sans', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}

.primary-text-color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-black-color{
    color: #0B0223;
}

.text-grey-color{
    color: #534C64;
}
